.t1{
    margin-left: 33%;
    margin-top: 100px;
}
table,th{
    color: white;
    border: 2px white solid ;
    font-size: 20px;
    text-align: center;
}
.l1{
    margin-left: 45%;
    margin-top: 45px;
}
table{
    width: 50%;
    border-collapse: collapse;
}