<!-- As a link -->
<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
</nav>
<h1 style="color:white ; text-align: center;">TRANSACTION HISTORY</h1>

<div class="t1">
    <table>
        <thead>
            <tr>
                <th>TYPE</th>&nbsp;
                <th>AMOUNT</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let i of transactions">
                <th>{{i.type}}</th>&nbsp;
                <th>{{i.amount}}</th>
            </tr>
        </tbody>
    </table>
</div>
<div class="l1">
    <a routerLink="/dashboard" style="font-size: 30px;">HOME</a>
</div>